
.products  {
    padding: 50px 0;
}

.underHeader {
    background-color: #000;
    width: 100%;
    height: 110px;
}
.products__container {
    max-width: 1300px;
    margin: 0 auto;   
}

.productsTitle {
    position: relative;
}

.productsTitle::before {
    position: absolute;
    content: '';
    width: 15%;
    height: 1px;
    background-color: #28553F;
    top: -10px;
    left: 0;
}

.searchInput__block {
    width: 300px;
    background-color: #000;
}

.searchInput {
    width: 300px;
    outline: none;
    height: 50px;
    padding: 10px 15px;
    border: 1px solid #2e2e2e;
    border-radius:8px;
    font-size: 18px;
}

.sort {
    margin-bottom: 30px;
}