.slider {
    max-width: 1000px;
    height: 575px;
}

.sliderDots {
    background-color: rgba(232, 231, 231, 0.7);
}

.dots {
    background-color: #fff;
    display: block;
    width: 30px;
    height: 30px;
}

.image {
    width: 1000px;
    /* transform: translate(0, calc(-33.3333% - 0px)); */
    height: 600px;
}